body {
  background-color: yellow;
  text-align:center;
  color: maroon;
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  overflow-x:hidden;
  overflow-y:scroll;
  }
  .input{ border: 2px solid red;
          border-radius:10px;
          height: 25px;
          width: 80px;
          padding: 2px;
          margin: 10px 15px;
		  text-align: center;
  }
 #date{
	 position: absolute;
	 top: 48px;
	 left: 16px;
	 color:blue;
	 font-size: 12px;
	 background-color: #f55050b0;
	 opacity:0.8;
	 border: 2px solid #397dc1;
	 border-radius:13px;
	 padding:8px;
 }
 .carChooser{
	background-color:#0da513! important; 
 }
 #carsList{
 	background-color: #0da513 !important;
 	list-style-type: upper-roman;
 	color:#2487dd;
 }